.background{
    background-color: lightsalmon;
}
.almostall{
    width: 100px;
    height: 100px;
}
.almostallcolor{
    background-color: lime;
}
.p4{
    background-color: mediumvioletred;
}
.p5{
    background-color: magenta;
}
.p6{
    background-color: darkorchid;
}
.p7{
    opacity: 0.75;
}
.p8{
    opacity: 0.5;
}
