.background{
    background-color: lightsalmon;
}
.p1{
    width: 100px;
    height: 100px;
    background-color: lime;
}
.p2{
    width: 100px;
    height: 100px;
    background-color: lime;
}
.p3{
    width: 100px;
    height: 100px;
    background-color: lime;
}
.p4{
    width: 100px;
    height: 100px;
    background-color: mediumvioletred;
}
.p5{
    width: 100px;
    height: 100px;
    background-color: magenta;
}
.p6{
    width: 100px;
    height: 100px;
    background-color: lime;
}
.p7{
    width: 100px;
    height: 100px;
    opacity: 0.75;
    background-color: lime;
}
.p8{
    width: 100px;
    height: 100px;
    opacity: 0.5;
    background-color: lime;
}
.p9{
    width: 100px;
    height: 100px;
    background-color: lime;
}
.p10{
    width: 100px;
    height: 100px;
    background-color: lime;
}